/* Form Styles */
form {
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
     width: 80%;
     max-width: 400px;
     margin: 0 auto;
     padding: 20px;
     text-align: left;
}

label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 5px;
}

.error-message {
     display: none;
     background-color: #ffffff;
     color: #ff0000;
     padding: 5px;
     border: 1px solid #ff0000;
     border-radius: 5px;
     margin-top: 5px;
     width: 30%;
}

.close-button {
     display: none;
     background-color: #ddd;
     color: #000;
     padding: 5px 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

.submit-btn {
     background-color: #007BFF;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
}

